:root {
    --primary-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;

    --primary-white-color: #ffffff;
    --primary-accent-color: #4D5AE5;
    --secondary-accent-color: #404BBF;
    --navy-color: #2E2F42;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
}

body {
    font-family: var(--primary-font);
    color: var(--navy-color);
    background-color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--navy-color);
}

.logo {
    font-family: var(--logo-font);
    text-transform: uppercase;

    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
}

.accent-logo {
    color: var(--primary-accent-color);
}

.nav-link {
    font-weight: 500;
    letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--secondary-accent-color);
}

.header-address a:hover,
.header-address a:focus {
    color: var(--secondary-accent-color);
}

.header-address a {
    color: var(--slate-color);
    font-style: normal;
}

.hero-section {
    background-color: var(--navy-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.hero-button {
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color);
    letter-spacing: 0.64px;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--secondary-accent-color);
}

.benefits-section-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.benefits-section-text {
    color: var(--slate-color);
    font-weight: 400;
    letter-spacing: 0.32px;
}

.doing-section-title,
.team-section-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-section-employee {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-section-job {
    color: var(--slate-color);
    letter-spacing: 0.32px;
}

.footer {
    background-color: var(--navy-color);
}

.footer-logo {
    color: var(--cloud-color);
}

.footer-text {
    color: var(--cloud-color);
    font-weight: 400;
    letter-spacing: 0.32px;
}

/* PORTFOLIO */


.menu-buttons button {
    color: var(--primary-accent-color);
    background-color: var(--cloud-color);
    letter-spacing: 0.64px;
    cursor: pointer;
}

.menu-buttons button:hover,
.menu-buttons button:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-accent-color);
}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.portfolio-text {
    color: var(--slate-color);
    letter-spacing: 0.32px;
}